body{
    background-color: #D6E1FF;
    font-family: "Red Hat Display";
    margin: 0;
    padding: 0;
}


.attribution {
    font-size: 11px;
    text-align: center;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
  }

#container{
    background-color: rgb(255,255,255);
    width: 28em; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    border-radius: 20px;
}

#illustration{
    width: 28em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#valor{
    color: rgb(183, 185, 200);
    float: left;
    margin-bottom: 10px;
}

#text{
    text-align: center;
    margin: 40px;
    color: rgb(183, 185, 200);
    font-size: 19px;
}

#title{
    text-align: center;
    font-size: 25px;
}

#iconmusic{
    width: 50px;
    height: 50px;
    padding-top: 20px;
}

#change{
    padding-top: 40px;

}


#box_valor{
    background-color: rgb(248, 249, 254);
    width: 21em;
    display: flex;
    justify-content:space-around;
    border-radius: 10px;
    margin-left: 55px;
    
}

#cancel_order{
    color: rgb(145, 152, 180);
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
}

button{
    background-color: rgb(56, 42, 225);
    color: white;
    width: 21rem;
    border-radius: 9px;
    padding: 10px;
    margin-top: 15px;
    font-weight: bold;    
    border-radius: 20px;
    margin-left: 55px;
    font-family: "Red Hat Display";
}
